POSTGRES_PASSWORD=change_me_to_a_long_random_password
TG_REPORT_DATA_DIR=/volume1/docker/tg-report

REPORT_WEB_IMAGE=ghcr.io/lijl9696/bdsh-ds-report-web:latest
REPORT_WEB_PORT=8000
METABASE_PORT=3000
POSTGRES_PORT=5432

IMPORT_AUTH_USERNAME=admin
IMPORT_AUTH_PASSWORD=change_me_to_another_long_password
